/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
}

.post-1 {
  background: #9d27b0;
}

.post-1:hover {
  color: rgba(255, 255, 255, 0.699);
  transition: 0.2s;
  cursor: pointer;
  background: #7c238a;
  /* -webkit-filter: brightness(70%); */
}


.post-2 {
  background: #9bb800;
}

.post-2:hover {
  color: rgba(255, 255, 255, 0.699);
  transition: 0.2s;
  cursor: pointer;
  background: #7d9108;
  /* -webkit-filter: brightness(70%); */
}

.post-3 {
  background: #ed5120;
}

.post-3:hover {
  color: rgba(255, 255, 255, 0.699);
  transition: 0.2s;
  cursor: pointer;
  background: #c2441e;
  /* -webkit-filter: brightness(70%); */
}

.post-4 {
  background: #9d27b0;
}

.post-4:hover {
  color: rgba(255, 255, 255, 0.699);
  transition: 0.2s;
  cursor: pointer;
  background: #7c238a;
  /* -webkit-filter: brightness(70%); */
}

.post-5 {
  background: #2d95bb;
}

.post-5:hover {
  color: rgba(255, 255, 255, 0.699);
  transition: 0.2s;
  cursor: pointer;
  background: #206e8a;
  /* -webkit-filter: brightness(70%); */
}


.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

body {
  background: var( --bg-color--dark);
}

main {
  margin: 0 auto;
}



  main {
    width: 768px;
  }
  .article-wrapper {
    display: flex;
    flex-direction: row;
  }

  .article-wrapper:nth-child(2n) {
    flex-direction: row-reverse;
    text-align: right;
  }

  nav {
    display: flex;
  }

  .nav-btn {
    display: none;
  }

  section {
    display: flex;
  }

  .news-container {
    width: 100%;
  }

  .article-wrapper .article-block {
    height: 130px;
  }


@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }

  .article-wrapper {
    display: flex;
    flex-direction: column;  
  }

  .article-wrapper:nth-child(2n) {
    flex-direction: column;
  }

  nav {
    display: none;
  }

  .nav-btn {
    display: block;
    margin-top: 10px;
  }

  .nav-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .article-wrapper .article-block {
    height: auto;
  }

  footer {
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  main {
    width: 100%;
  }

  section {
    flex-direction: column;
  }
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.site-name {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: white;
  font-weight: 100;
  font-size: 25px;
  padding-left:0.5em;
}

.site-name span {
  font-weight: 300;
  color: rgb(199, 49, 199);
}

.nav-container {
  background: var(--bg-color--header);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-container .nav-item {
  font-size: 13px;
  color: var(--link);
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  display: inline-flex;
}

.nav-container .nav-item:hover {
  background: var(--link--hover);
  transition: 0.2s;
}

.inner-nav-item-text {
  position: relative;
}

.container {
  margin: 0.5em;
  position: relative;
}

article {
  padding: 1.6em;
  color: white;
  border: none;
}

.article-header {
  font-weight: 100;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0.2em;
}

.article-bio {
  font-weight: 100;
  font-size: 10px;
  line-height: 1.5em;
}

header .image-container {
  height: 300px;
  background: url('../img/post0.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.image-container article {
  position: absolute;
  bottom: 0;
}

.news article {
  background: white;
  color: black;
}

.news .article-header {
  font-size: 20px;
}

footer {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  background: var(--bg-footer-color);
  color: grey;
  font-weight: 100;
  font-size: 10px;
  line-height: 0.7em;
}
