body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white; }

.header {
  background-image: url("../img/m-h-day.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 120px;
  border-bottom-right-radius: 40%; }
  .header .header-wrap {
    margin-left: 7%;
    padding-top: 10px; }

.landing-logo {
  font-family: "Source Sans Pro", sans-serif; }
  .landing-logo p {
    position: relative;
    bottom: 70px;
    left: 50px;
    justify-content: center;
    font-size: 23px;
    color: #2e1c1c; }
    .landing-logo p span {
      position: relative;
      left: 6px;
      font-size: 11px;
      display: block; }

.header_heading {
  color: #2e1c1c;
  line-height: 50px;
  margin-top: -50px;
  width: 35%;
  min-width: 300px;
  font-size: 50px;
  font-weight: bold; }

.header_text {
  line-height: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #2e1c1c;
  width: 35%;
  min-width: 200px; }

.header_button, .section_banner .section_banner_button {
  cursor: pointer;
  background: #6abb3b;
  border: none;
  border-radius: 2px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  height: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold; }

.login {
  margin-left: 170px;
  color: white; }

.section {
  margin: 0;
  color: white; }
  .section .section_text {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 40px;
    color: #2e1c1c;
    font-weight: 600; }

.section_card {
  background-color: #20202a;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #b3b3b3;
  text-align: center; }
  .section_card img {
    flex-grow: 1;
    height: 100%; }
  .section_card .section_card_heading {
    color: #e6e6e6;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    height: 25%; }
  .section_card .section_card_text {
    vertical-align: middle;
    text-align: left;
    line-height: 1.4em;
    font-family: "Fresca", sans-serif;
    height: 40%; }
  .section_card a {
    padding-right: auto;
    padding-left: auto;
    color: #b3b3b3;
    height: 25%; }

.section_card_right_container {
  padding-right: 80px;
  padding-left: 80px;
  max-width: 50%;
  flex-grow: 2; }

footer {
  margin-top: 100px;
  background: #20202a;
  height: 250px; }

.footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .footer-wrap div, .footer-wrap .footer_logo, .footer-wrap .footer_text, .footer-wrap .footer-cr {
    padding-top: 120px;
    width: 30%;
    text-align: center;
    color: #b3b3b3; }
  .footer-wrap .footer_logo {
    padding-right: auto;
    padding-left: auto; }
  .footer-wrap .footer_text {
    text-align: left; }

.section_banner {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg, #6abb3b 0%, #6262f5 100%);
  position: relative;
  top: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .section_banner .section_banner_text_wrap {
    margin-bottom: 10px; }
    .section_banner .section_banner_text_wrap .section_banner_heading {
      font-weight: bold;
      font-size: 25px; }
  .section_banner .section_banner_button {
    margin-top: auto;
    margin-bottom: auto; }
