$headerBackgroundColour: rgb(46, 28, 28);
$headerBG: url('../img/m-h-day.jpg');
$backgroundSelection: rgb(98, 98, 245);
$firstMainColour: rgb(106, 187, 59);
$secondMainColour: rgb(98, 98, 245);
$logoFont: 'Source Sans Pro', sans-serif;
$sectionColor: white;
$sectionCardColour: lighten(rgb(28, 28, 36), 2%);

