$headerBackgroundColour: white;
$headerBG: url('../img/m-h-night.jpg');
$backgroundSelection: red;
$firstMainColour: rgb(201, 190, 35);
$secondMainColour: red;
$logoFont: 'Fresca', sans-serif;
$sectionColor: lighten(black, 10%);
$sectionCardColour: lighten(black, 20%);