html,
body,
header {
    height: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.site-name {
    font-family: Andale Mono, monospace;
    text-transform: uppercase;
    margin-left: 5%;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: grey;
}


.nav-container {
    clear: both;
    width: 70%;
    height: 70px;
    /* border: black dotted; */
    display: flex;
    justify-content: space-between;
}

.nav-container nav {
    margin-right: 5%;
}

.nav-container .nav-item {
    color: rgb(118, 137, 138);
    padding-left: 25px;
    text-decoration: none;
}

.home-bg {
    background-image: url('../img/home-bg.jpg');
    height: 90%;
    /* background-attachment: fixed; */
    /* background-position: 0% 0%; */
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6));
    height: 100%;
    display: flex;
    align-items: center;
}

.main-heading {
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.small-text {
    text-align: center;
    font-family: Andale Mono, monospace;
    color: #bfba55;
    padding-top: 2%;
}


.button-wrapper {
    padding-top: 6%;
    text-align: center;
}

.btn {
    cursor: pointer;
    background: white;
    border-radius: 30px;
    color: grey;
    font-size: 12px;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.7em;
    padding-right: 1.7em;
    border-color: rgb(175, 168, 168);
    border-width: 1px;
    border-style: solid;
}


.overlay .container {
    position: relative;
    /* margin-top: 100px; */
}

.divider {
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.2);
}

.blogs {
    margin-top: 50px;
    width: 60%;
}

.blog-image {
    width: 100%;
}

.blog-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.blog-meta {
    display: flex;
    flex-direction: row;
}

.author-image {
    border-radius: 50%;
}

.blog-meta span,
.blog-text {
    color: grey;
}

.blog-meta span {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.blog-text {
    margin-top: 1em;
    line-height: 1.5em;
}

.blog-btn {
    margin-top: 3em;
}

.btn:hover {
    background: rgb(207, 207, 207);
    transition: 0.2s;
}

article {
    margin-bottom: 100px;
}

footer {
    background: black;
}

footer .footer-wrapper {
    width: 60%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-flex-item {
    width: 40%;
}

.footer-flex-item-main {
    width: 60%;
    margin-right: 10%;
}

footer .footer-heading {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer .footer-text {
    color: rgb(95, 95, 95);
    font-size: 15px;
    line-height: 1.4em;
}