.folder-colour {
    color: rgba(236, 194, 6, 0.877);
}

.file-colour {
    color: rgba(150, 148, 148, 0.507);
}

i {
    float: left;
}

.file-name {
    padding-top: 0.28em;
    margin-top: 0;
    margin-bottom: 0.1em;
}

.file-name:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.no-hover-bg:hover {
    background-color: rgba(0, 0, 0, 0);
}

