.folder-colour {
    color: rgb(236, 194, 6);
}

.file-colour {
    color: rgb(150, 148, 148);
}

i {
    float: left;
}

.file-name {
    padding-top: 0.25em;
    margin-top: 0;
    margin-bottom: 0.1em;
}

.file-name:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

.no-hover-bg:hover {
    background-color: rgba(0, 0, 0, 0);
}

