.tm-nav-item:hover {
    transition: 0.2s;
    background-color: lightskyblue;
}

.tm-nav-item-link:hover {
    color: #fff;
}

.tm-banner {
    background: linear-gradient(0.25turn, lightskyblue, burlywood);
}

.tm-banner-inner {
    background: white;
}


@keyframes banner-text-animation {
    from {
        margin-left: 200px;
    }
    to {
        margin-left: 0px;
    }
}

.tm-banner-text {
    text-shadow: 7px 4px 3px #333;
    animation-name: banner-text-animation;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

section {
    box-shadow: 0px 0px 10px 0px rgba(61, 55, 61, 0.7);
}

nav {
    box-shadow: 0px 0px 10px 0px rgba(61, 55, 61, 0.7);
}

.flex-2-col {
    display: flex;
    flex-direction: row;
}

.tm-section-title {
    text-align: center;
}

.flex-item {
    flex: auto;
}

.tm-team-description-container {
    margin-top: auto;
    margin-bottom: auto;
}

.tm-section-description:before {
    content: "";
    padding-left: 25px;
}

.tm-content-box  ol {
    list-style-type: lower-alpha;
}

.box-bg:hover {
    transition: 0.2s;
    background: lightgrey;
    color: lightskyblue;
}

.heading h2 {
    text-align: center;
    color: lightskyblue;
}

.heading a[href]:hover::before {
    content: '>';
}

a.text::after {
    content: 'New';
    font-weight: bold;
    font-size: 0.75em;
    position: relative;
    bottom: 0.5em;
    color: red;
}

.blocks .tm-team-description-container p:nth-child(3){
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
}

.gallery-container .box-work {
    padding: 10px;
}

.gallery-container .box-work p {
    font-style: italic;
}

.gallery-container .box-work p::first-letter {
    font-weight: bold;
}

.gallery-container .box-work:nth-child(odd){
    background: lightskyblue;
    color: white;
}

#contact input {
    border-bottom-color: lightskyblue;
    border-top: none;
    border-left: none;
    border-right: none;
}

#contact input:focus {
    transition: 0.2s;
    background: lightskyblue;
}

#contact textarea {
    border-color: lightskyblue;
}


.submit-btn {
    float: right;
    background: white;
    border-color: lightskyblue;
    color: lightskyblue;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.submit-btn:hover {
    transition: 0.2s;
}

#contact .tm-section-title {
    text-align: left;
}

.boxes p {
    font-size: 1em;
}

section:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: lightskyblue transparent transparent transparent; 
    content: '';
}